<!DOCTYPE html>

<title>New SyStates</title>

{% block body %}
    <h1>Create new SyStates</h1>

    {{ include('sy_states/_form.html.twig') }}

    <a href="{{ path('sy_states_index') }}">back to list</a>
{% endblock %}
