<!DOCTYPE html>

<title>New SocioeconomicLevels</title>

{% block body %}
    <h1>Create new SocioeconomicLevels</h1>

    {{ include('socioeconomic_levels/_form.html.twig') }}

    <a href="{{ path('socioeconomic_levels_index') }}">back to list</a>
{% endblock %}
