<!DOCTYPE html>

<title>Edit Branches</title>

{% block body %}
    <h1>Edit Branches</h1>

    {{ include('branches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('branches_index') }}">back to list</a>

    {{ include('branches/_delete_form.html.twig') }}
{% endblock %}
