{% extends 'base.html.twig' %}

{% block title %}New Invoices{% endblock %}

{% block body %}
    <h1>Create new Invoices</h1>
    <input id="date_from" value="2018-12-23" type="date">
    <input id="date_to" type="date">
    <a href="{{ path('invoices_index') }}">back to list</a>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		post();
		function post(){
			var date_to = $('#date_from').val();
			console.log(date_to);
			console.log('post');
			$.ajax({
		        type: "POST",
		        url: "/invoices/ajax",
		        data: {
		           name: date_to,
		           name2: 'hola',
		        },
		        dataType: "json",
		        async: true,
		        success: function(response) {
		            console.log(response);
		        },
			    error: function (XMLHttpRequest, textStatus, errorThrown) {
			        console.log('Error3 : ' + errorThrown);
			    }
		    });
		}   
	</script>
{% endblock %}
