<!DOCTYPE html>

<title>New Invoices2</title>
<link rel="stylesheet" type="text/css" href="/dist/css/home.css">
{% block body %}
    <!-- <h1>Create new Invoices</h1> -->
    <div id="home-container"></div>
    <div id="modal-container"></div>
    <!--
    <input id="date_from" value="2018-12-09" type="date">
    <input id="date_to" value="2018-12-12" type="date">
    <button onclick="post()">Send</button>
    

    <a href="{{ path('invoices_index') }}">back to list</a>
    -->
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/invoices/report.js"></script>
	<!-- <script type="text/javascript" src="/dist/js/wiro123.js"></script> -->
        <script type="text/javascript" src="http://localhost:9000/js/home.js"></script>
	<!-- <script type="text/javascript" src="{{ asset('js/invoices/report.js') }}"></script> -->
	<script type="text/javascript">
		function post(){
			var date_from = $('#date_from').val();
                        var date_to = $('#date_to').val();

			console.log(date_to);
			console.log('post');
			$.ajax({
		        type: "POST",
		        url: "/invoices/ajax",
		        data: {
		           from_date: date_from,
		           to_date: date_to,
		        },
		        dataType: "json",
		        async: true,
		        success: function(response) {
		            console.log(response);
		        },
			    error: function (XMLHttpRequest, textStatus, errorThrown) {
			        console.log('Error3 : ' + errorThrown);
			    }
		    });
		}   
	</script>
{% endblock %}
