<!DOCTYPE html>

<title>New Invoices</title>

{% block body %}
    <h1>Create new Invoices</h1>

    {{ include('invoices/_form.html.twig') }}

    <a href="{{ path('invoices_index') }}">back to list</a>
{% endblock %}
