{% extends 'base.html.twig' %}

{% block title %}New Employees{% endblock %}

{% block body %}
    <h1>Create new Employees</h1>

    {{ include('employees/_form.html.twig') }}

    <a href="{{ path('employees_index') }}">back to list</a>
{% endblock %}
