<!DOCTYPE html>

<title>New Branches</title>

{% block body %}
    <h1>Create new Branches</h1>

    {{ include('branches/_form.html.twig') }}

    <a href="{{ path('branches_index') }}">back to list</a>
{% endblock %}
